services:
  dev: 
    build: 
     context: .
     dockerfile: ./docker/development/Dockerfile
    ports:
      - 8081:8081
    volumes:
      - ./src:/src/src
      - ./package.json:/src/package.json
      - ./package-lock.json:/src/package-lock.json
      - /src/node_modules
    env_file:
      - .env.docker.env
    depends_on:
      - db
    environment:
      CHOKIDAR_USEPOLLING: "true"
    command: sh -c "npm run apply.updates && npm run start:dev"
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: nest
      POSTGRES_PASSWORD: nest
      POSTGRES_DB: hymnal_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
  
volumes:
  db-data:
  redis-data: